<!--
    Name- Simranpreet Kaur
    ID- 1153909
-->

<!-- extends staff1 html page-->
{% extends "staff1.html" %}
{% block content %}
<!--heading of the table-->
<h2 style="text-align: center;">Loan Summary</h2>
<br>
<!--container begins-->
<div class="container">
    <table class="table table-striped table-hover">
        <thead class="table-success">
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Times Borrowed</th>
            </tr>
        </thead>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
        </tr>

        {% endfor %}
    </table>
</div>
<!--container ends-->
{% endblock %}