<!--
    Name- Simranpreet Kaur
    ID- 1153909
-->

<!--"/staff" staff access html page-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Waikirikiri Library Staff{% endblock %}</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!--nav bar begins-->

    <nav class="navbar navbar-expand md bg-dark">
      <!--container begins-->
      <div class="container">
        <a class="navbar-brand fs-3 ms-3 text-white" href="/staff">
          <!--brand image icon-->
          <img
            src="https://www.seekpng.com/png/detail/208-2085416_icon-free-download-and-library-icons.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          <h1>Waikirikiri Library</h1>
        </a>

        <button
          class="navbar-toggler me-3 text-white"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#btn"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn">
            <ul class="navbar-nav ms-auto">
          <!--nav bar items-->
                <li class="nav-item"><a class="navbar-link mx-3 mx-3 text-white fs-5" href="/staff/booksearches">Search Book</a>
                </li>
                <li class="nav-item"><a class="navbar-link mx-3 mx-3 text-white fs-5" href="/staff/listbooks">List Books</a>
                </li>
                <li class="nav-item"><a class="navbar-link mx-3 mx-3 text-white fs-5" href="/staff/borrowerdetails">Search Borrower</a>
                </li>
                <li class="nav-item"><a class="navbar-link mx-3 mx-3 text-white fs-5" href="/staff/addborrower">Add Borrower</a>
                </li>

          <!--nav bar dopdown-->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white fs-5"
              href="/staff"
              role="button"
              id="loandropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Loans
            </a>

            <ul class="dropdown-menu" aria-labelledby="loandropdown">
              <li>
                <a class="dropdown-item fs-5" href="/staff/issuebook">Issue</a>
              </li>
              <li>
                <a class="dropdown-item fs-5" href="/currentloans">Return</a>
              </li>
              <li>
                <a class="dropdown-item fs-5" href="/staff/overduebooks"
                  >Overdue Loans</a
                >
              </li>
              <li>
                <a class="dropdown-item fs-5" href="/staff/loansummary"
                  >Loan Summary</a
                >
              </li>
              <li>
                <a class="dropdown-item fs-5" href="/staff/borrowersummary"
                  >Borrower Summary</a
                >
              </li>
            </ul>
          
          </li>
          <li class="nav-item"></li><a class="nav-link text-white fs-5" href="/">Back to Home</a></li>
        </ul>
        </div>
      </div>
    </nav>


    <!--nav bar ends-->

    <section class="content">
      <header>
        {% block header %}
        <h2 class="text-center mt-4">Staff Dashboard</h2>
        {% endblock %}
      </header>

      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
