{% extends "base.html" %} {% block title %}Waikirikiri Library - Staff{%
endblock %} {% block header %}
<h2 class="text-center mt-4">Dashboard</h2>
{% endblock %} {% block content %}
<div class="container mt-4">
  <div class="text-center mb-4">
    <h4 class="text-center mb-4 text-gradient">Welcome, Library Staff!</h4>
  </div>
</div>
<div class="container text-center mt-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      <a href="/staff/booksearches" class="btn btn-primary w-100 py-3"
        >Search Book</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a href="/staff/addborrower" class="btn btn-success w-100 py-3"
        >Add Borrower</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a href="/staff/borrowerdetails" class="btn btn-info w-100 py-3"
        >Search Borrower</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a href="/staff/listbooks" class="btn btn-warning w-100 py-3"
        >List Books</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a href="/staff/issuebook" class="btn btn-secondary w-100 py-3"
        >Issue Book</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a href="/currentloans" class="btn btn-dark w-100 py-3">Return Book</a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="/staff/overduebooks" class="btn btn-danger w-100 py-3"
        >Overdue Books</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a href="/staff/loansummary" class="btn btn-outline-primary w-100 py-3"
        >Loan Summary</a
      >
    </div>
    <div class="col-md-4 mb-3">
      <a
        href="/staff/borrowersummary"
        class="btn btn-outline-success w-100 py-3"
        >Borrower Summary</a
      >
    </div>
  </div>
</div>
{% endblock %}
